﻿@model PrjProvaDeConhecimento.Models.ListaOficinas
@{
    ViewBag.Title = "Create";
}

<div class="container">
    <h2>@Model.Nome</h2>
    @if (ViewBag.Sucesso != null)
    {
        <h4 style="color:green">@ViewBag.Sucesso</h4>
    }
    else
    {
        <h4 style="color:red">@ViewBag.Erro</h4>
    }
    <div class="col-md-12 col-sm-12 col-xs-12">
        <p><h3 style="color:green"><smal>@Model.DescricaoCurta</smal></h3>&emsp;-&emsp;@Model.Descricao</p>
    </div>
    <hr />
    <div class="col-md-12 col-sm-12 col-xs-12">
        <h3>Endereço</h3>
        <ul>
            <li>@Model.Endereco</li>
        </ul>
        <hr />
        <h3>Contatos</h3>
        <ul>
            <li>@Model.Email</li>
            @if (Model.Telefone1 != null)
            {
                <li>@Model.Telefone1</li>
            }
            else
            {
                <li style="color:red">Nenhum telefone para contato*</li>
            }
        </ul>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="col-md-12 col-sm-4 col-xs-4">
            <a class="btn btn-dark" data-toggle="collapse" href="#collapseFormAmigo" role="button" aria-expanded="false" aria-controls="collapseFormAmigo">
                Indique um amigo
            </a>
        </div>
            <div class="col-md-12 col-sm-4 col-xs-4">
                <a class="btn btn-warning" id="btnVoltarLista" name="btnVoltarLista" href="javascript:valtaOficinas(@Session["CpfUsuario"])">
                    Voltar a lista
                </a>
            </div>
            <hr />
            <div class="collapse" id="collapseFormAmigo">
                <h3>Indique seu Amigo</h3>
                @using (Html.BeginForm())
                {
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="row col-md-12 col-sm-12 col-xs-12">
                            <div class="col-md-6">
                                <label class="control-label">Nome</label>
                                <input type="text" id="NomeAssociado" name="NomeAssociado" class="form-control" />
                                <input hidden value="@Session["CpfUsuario"]" type="text" id="CpfAssociado" name="CpfAssociado" class="form-control" />
                                <input hidden value="@Model.Email" type="text" id="Remetente" name="Remetente" class="form-control" />
                                <input hidden value="@Model.Id" type="text" id="id" name="id" class="form-control" />
                            </div>
                            <div class="col-md-6">
                                <label class="control-label">Email</label>
                                <input type="text" id="EmailAssociado" name="EmailAssociado" class="form-control" />
                            </div>
                        </div>
                        <div class="row col-md-12 col-sm-12 col-xs-12">
                            <div class="col-md-6">
                                <label class="control-label">Telefone</label>
                                <input type="text" id="TelefoneAssociado" name="TelefoneAssociado" class="form-control" />
                            </div>
                            <div class="col-md-6">
                                <label class="control-label">Placa Do Veículo</label>
                                <input type="text" id="PlacaVeiculoAssociado" name="PlacaVeiculoAssociado" class="form-control" />
                            </div>
                        </div>
                        <div class="row col-md-12 col-sm-12 col-xs-12">
                            <div class="col-md-6">
                                <label class="control-label">Nome Do Amigo</label>
                                <input type="text" id="NomeAmigo" name="NomeAmigo" class="form-control" />
                            </div>
                            <div class="col-md-6">
                                <label class="control-label">Telefone Do Amigo</label>
                                <input type="text" id="TelefoneAmigo" name="TelefoneAmigo" class="form-control" />
                            </div>
                        </div>
                        <div class="row col-md-12 col-sm-12 col-xs-12" style="padding-bottom:10px">
                            <div class="col-md-6">
                                <label class="control-label">Email Do Amigo</label>
                                <input type="text" id="EmailAmigo" name="EmailAmigo" class="form-control" />
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <label class="control-label">Observações</label>
                                <textarea class="form-control" id="Observacao" name="Observacao"></textarea>
                            </div>
                        </div>
                        <div class="col-md-12 ">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-10">
                                <button type="submit" id="btnGravarIndicacao" nome="btnGravarIndicacao" class="btn btn-dark">Salvar</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
</div>
<script>
    function valtaOficinas(cpfAssociacao, codAssociacao) {
        window.location.href = "/Home/Details?cpfAssociacao=" + cpfAssociacao + "&codAssociacao=" + codAssociacao + ""
    }
</script>

