﻿
@model PrjProvaDeConhecimento.Models.ClasseOficinas
@{
    ViewBag.Title = "Details";
}

<h2>Oficinas</h2>

<div class="col-md-12 col-sm-12 col-xl-12">
    <h2 id="cpfUsurio" hidden>@Session["CpfUsuario"].ToString()</h2>
    <table class="table" id="tabela">
        <thead>
            <tr>
                <th>Oficina</th>
                <th>Descrição</th>
                <th>Ver mais</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ListaOficinas)
            {
                <tr>
                    <td>@item.Nome</td>
                    <td>@item.DescricaoCurta</td>
                    <td><center><a href="javascript:getOficinas(@item.Id,@Session["CpfUsuario"])" style="font-size:25px; color:black; cursor:pointer" class="btn btn-info" title="Veja mais" id="btnDetalhes" name="btnDetalhes">Ver</a></center></td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script>
        $(document).ready(function () {
        var table = $("#tabela").DataTable({
            "aaSorting": [[0, 'desc']],
            "oLanguage": {
                "sLengthMenu": "Mostrar _MENU_ registros por página",
                "sZeroRecords": "Nenhum registro encontrado",
                "sInfo": "Mostrando _START_ / _END_ de _TOTAL_ registro(s)",
                "sInfoEmpty": "Mostrando 0 / 0 de 0 registros",
                "sInfoFiltered": "(filtrado de _MAX_ registros)",
                "sSearch": "Pesquisar: ",
                "oPaginate": {
                    "sFirst": "Início",
                    "sPrevious": "Anterior",
                    "sNext": "Próximo",
                    "sLast": "Último"
                }
            },
            "processing": true,
            "bPaginate": true,
        });
    });
    function getOficinas(id, cpfUsuario) {
        var codAssociado = "601";
        window.location.href = "/Home/Create?id="+id+"&cpfUsuario=" + cpfUsuario + "&codAssociacao="+codAssociado+""
    }
</script>
