﻿<!DOCTYPE html>
<html>
<head>
    <meta />
    @{
        Layout = "";
    }
    <title>Tela Inicial</title>
    <link type="text/css" href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link type="text/css" href="~/Content/Site.css" rel="stylesheet" />
    <link type="text/css" href="~/Content/TelaInicial.css" rel="stylesheet" />
    <link type="text/css" href="~/Content/font-awesome.min.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav style="padding-top:50px"></nav>
    <div class="row col-md-12 col-sm-12 col-xs-12">
        <div class="col-md-4 col-sm-12 col-xs-12" style="height:500px"></div>
        <div style="background-color:antiquewhite; border-radius:5px" class="col-md-4 col-sm-12 col-xs-12">
            <p class="text-center"><img src="~/Image/images.svg" height="100" width="100" /></p>
            <h1 class="text-center">Bem Vindo</h1>
            <div class="col-md-12 col-sm-12 col-xs-12 text-center" style="padding-top:100px">
                <p>Conheça nossas oficinas</p>
                <center><input class="form-control" placeholder="Seu CPF" id="cpfValor" name="cpfValor" /></center>
                <br />
                <button class="btn btn-dark" type="button" id="AbrirOficinas" name="AbrirOficinas">Nossas Oficinas</button>
            </div>

        </div>
        <div class="col-md-4 col-sm-12 col-xs-12"></div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script>
        $("#AbrirOficinas").click(function () {
            var cpfAssociacao = $("#cpfValor").val();
            var associacaoValor = "601";
            getOficinas(cpfAssociacao, associacaoValor);
        });

        function getOficinas(cpfAssociacao, codAssociacao) {
            window.location.href = "/Home/Details?cpfAssociacao=" + cpfAssociacao + "&codAssociacao=" + codAssociacao + ""
        }
    </script>
</body>
</html>

