﻿

.back {
    background-color: #cc0c39;
}

.navbar {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    list-style: none;
}

    .navbar a {
        padding: 20px;
        text-align: center;
        text-decoration: none;
        display: block;
        color: #ffffff;
    }

        .navbar a:hover {
            text-decoration: underline;
        }

@media (max-width: 600px) {
    #container, .navbar {
        flex-flow: column wrap;
    }
}
